html {
    margin: 150px;
    position:fixed;
    font-family: Georgia;
    position: absolute;
    overflow-y: scroll;
    max-width: fit-content;
    background-color: #cccccc
}

.one {
    padding-right: 200px;
    width: auto;
    border: 5px;
}

h1, h2 {
    text-align: center;
}

body {
    background-img: url(https://png.pngtree.com/thumb_back/fh260/back_our/20190621/ourmid/pngtree-my-resume-background-material-image_177383.jpg);
}