html {
    margin: 150px;
    position:fixed;
    font-family: Georgia;
    color: #000000;
    position: absolute;
    overflow-y: scroll;
    max-width: fit-content;
}

.one {
    padding-right: 200px;
    width: auto;
    border: 5px;
}

h1, h2 {
    text-align: center;
}

body {
    background-color: #cccccc;
}